*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
.pydevproject
.coverage
.DS_Store
.tox/
nosetests.xml
pyramid/coverage.xml
backbone_fun.db
env26/
env26-debug/
bookenv/
env24/
env27/
jyenv/
pypyenv/
build/
dist/
bin/
lib/
include/
.idea/
distribute-*.tar.gz
