{% extends "backbone_fun:templates/base_page.jinja2" %}

{% block middle %}
Editing <b><span>{{ page.name }}</span></b><br/>
You can return to the
<a href="{{ request.application_url }}">FrontPage</a>.<br/>
{% endblock %}

{% block bottom %}
<form action="{{ save_url }}" method="post">
<textarea name="body" rows="10"
          cols="60">{{ page.data }}</textarea>
 <br/>
<input type="submit" name="form.submitted" value="Save"/>
</form>
{% endblock %}
