{% extends "backbone_fun:templates/base_page.jinja2" %}

{% block templates %}
  {% raw %}
  <script type="text/html" id="tweetTemplate">
    <div class="deleteme" id="deleteme_{{ id }}">X</div>
    {{ username }} - <a class="username" id="message_{{ id }}">{{ message }}</a>
    <br /><abbr class="timestamp">{{ timestamp }}</abbr>
  </script>
  {% endraw %}
{% endblock %}

{% block middle %}
<div id="title">
  <div><strong>Welcome to the Who Needs IRC Channel!</strong></div>
  <div>Tweet Something Below:</div>
</div>
{% endblock middle %}

{% block bottom %}
    <div id="app">
      <div id="input">
        <label >User: <input id="username" name="username" type="text" /></label><br />
        <textarea id="message" name="message"></textarea>
        <button name="tweet" id="tweet" class="tweet button">Tweet</button>
      </div>
      <h2>The Feed:</h2>
      <ul id="tweets">
      </ul>
    </div>
    
{% endblock %}
